li {
  list-style: none;
}

.header {
  margin-bottom: 15px;
}

.main-title {
  margin-bottom: 10px;
}

.search{
  max-width: 400px;
}

.house-image{
  max-height: 254px;
  object-fit: cover;
}

.form-section{
  max-width: 700px;
  margin: 0 auto;
}

form{ 
  margin-bottom: 30px;
}

.card-title-names{
  text-align: center;
}

.card-img{
  display: block;
  max-height: 400px;
  background-size: cover;
  object-fit: cover;
}

.person-name{
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
}

.prefics{
  color: red;
}

.not-found-title{
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}